bind: 0.0.0.0
port: {{ redis_port }}
requirepass: {{ redis_password }}
masterauth: {{ redis_password }}
{% if hostvars[inventory_hostname]['sentinel_role'] != "master" %}
{% for host in vars['sentinel_hosts'] if hostvars[host]['sentinel_role'] == "master" %}
replicaof: {{ hostvars[host]['main_ipv4'] }} {{ redis_port }}
{% endfor %}
{% endif %}
