{% for host in vars['sentinel_hosts'] if hostvars[host]['sentinel_role'] == "master" %}
protected-mode: no
port: {{ sentinel_port }}
sentinel monitor mymaster: {{ hostvars[host]['sentinel_ip'] }} {{ redis_port}} {{ sentinel_quorum }}
sentinel auth-pass mymaster: {{ redis_password }}
sentinel down-after-milliseconds mymaster: {{ down_after_milliseconds }}
sentinel failover-timeout mymaster: {{ failover_timeout }}
{% endfor %}
